extends ../layout/base 
block content 
	section.content
		.box
			nav.navbar.navbar-default
				.container-fluid
					.navbar-header
						button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') 添加用户
					#bs-example-navbar-collapse-1.collapse.navbar-collapse
						ul.nav.navbar-nav
							//-
								li(role='presentation')
									a(href='/contact')
										| 联系人列表
							li(role='presentation')
								a(href='/contact')
									| 联盟列表
							//-
								- if (session.islogin)
									li(role='presentation')
										a(href='./add')
											| 添加联系人
											span.sr-only (current)
									li(role='presentation')
										a(href='./afadd')
											| 添加联盟
							- if (session.isadmin)
								li(role='presentation')
									a(href='./userlist')
										| 用户列表
								li.active(role='presentation')
									a(href='#')
										| 添加用户
						ul.nav.navbar-nav.pull-right
							li.dropdown
								a.dropdown-toggle(href='#',data-toggle='dropdown')
									| 欢迎, #{username}
									b.caret
								ul.dropdown-menu
									li
										a(href='/contact/editps')
											i.fa.fa-cog
											| 修改密码
									li.divider
									li
										a(href='/contact/logout')
											i.fa.fa-power-off
											| 登出
			.box-body
				form(role='form',method='post' action='/contact/adduser')
					.row					
						.col-xs-6
							.box-body
								- if (messages.msg_error) 
									.alert.alert-danger.alert-dismissable 
										button.close(type='button', data-dismiss='alert', aria-hidden='true') 
											| ×
										h4
											i.icon.fa.fa-ban
											| 注意! 
										| !{messages.msg_error}
								.form-group
									label
										| 用户名
									input(type='text',value='#{username}',name='username',placeholder='请输入用户名', autofocus).form-control
								.form-group
									label
										| 密码
										small *必填
									input(type='password',value='#{password}',name='password',placeholder='请输入密码', autofocus).form-control
								.form-group
									label
										| 权限
									select(name='auth').form-control
										option(value='1') 管理员
										option(value='0') 普通用户
							.box-footer
								button(type='submit').btn.btn-primary
									| 提交
								a(href='javascript:history.back()').btn.btn-primary.pull-right
									| 返回