script(type='text/javascript', src='/adminlte/plugins/jQuery/jquery-2.2.3.min.js')
script(type='text/javascript', src='/javascripts/bootstrap.min.js')
script(type='text/javascript', src='/adminlte/plugins/slimScroll/jquery.slimscroll.min.js')
script(type='text/javascript', src='/adminlte/dist/js/app.min.js')
script(type='text/javascript', src='/adminlte/plugins/iCheck/icheck.min.js')
script(type='text/javascript', src='/javascripts/bootstrap-table.js')
script(type='text/javascript', src='/javascripts/bootstrap-table-zh-CN.js')
script(type='text/javascript', src='/javascripts/auto-alert.js')
script(type='text/javascript', src='/javascripts/htmlsorter.js')